/*for x-small phones*/
body{
    background-image: url(images/xsBG.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center bottom;
    padding: none;
    position: relative;
}

header{
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 3em;
    position: relative;
    margin-bottom: .35em;
}

#musicTab{
    width: 80%;
    margin-top:1.5em;
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 2em;
    background-color: rgba(172, 172, 172, 0.50);
    display: inline-block;
    position: relative;
}

.wrapper{
    width: 100%;
    text-align: center;
    position: relative;
}

#sticky {
  width:100%;
  height:44px;
  padding-top:20px;
  background-color:rgba(172,172,172,0.50);
  font-family: Poppins;
  font-weight:bold;
  font-size:1.5em;
  text-align:center;
  position:fixed;    /*Here's what sticks it*/
  bottom:0;          /*to the bottom of the window*/
  left:0;            /*and to the left of the window.*/
}
}

/*for small phones*/
@media only screen and (min-width: 350px){
    body{
    background-image: url(images/sBG.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center bottom;
    }
    header{
        font-size: 4em;
    }
    #musicTab{
        font-size:2em;
    }
    
}

/*for medium phones*/
@media only screen and (min-width: 400px){
    body{
    background-image: url(images/mBG.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center bottom;
    }
    header{
    font-size: 4em;
    }
    #musicTab{
    font-size:3em;
    }
}

/*for large phones / tablets / PC's*/
@media only screen and (min-width: 600px){
    body{
    background-image: url(images/lBG.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center bottom;
    }
    header{
    font-size: 6em;
    }
}

